@font-face {
    font-family: 'DB Helvethaica X Med';
    src: url('../fonts/DBHelvethaicaX-Med.woff2') format('woff2'),
        url('../fonts/DBHelvethaicaX-Med.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}