footer {
    background: $bg-footer;
    padding: 17px 0px 28px;
    text-align: center;

    .footer {
        &-banks {
            max-width: 100%;
        }

        &-text {
            color: rgba($white, .2);
            @include font-size(18);
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(md) {
        .footer-text {
            font-size: 13px;
        }
    }
}