footer {
    background: $bg-footer;
    padding: 17px 0px 28px;
    text-align: center;

    .footer {
        &-banks {
            margin-bottom: 8px;
            max-width: 100%;
        }

        &-text {
            color: rgba($white, .2);
            @include font-size(18);
            margin-bottom: 0;
        }
    }
}