header {
    .navbar {
        &-toggler {
            padding: 0;
            margin-right: 0.75rem;

            &:focus {
                outline: none;
            }

            &[aria-expanded="true"] {
                filter: brightness(.5);
            }
        }

        &-brand {
            padding: .75rem 0 0;
            margin-right: 0;

            img {
                max-height: 60px;
            }
        }

        &-nav {
            padding: 0 15px;
        }
    }

    .nav {
        &-link {
            text-align: center;
            padding-left: 1rem;
            padding-right: 1rem;
            @include font-size(15.5);
            color: $white;
        }
    }

    @include media-breakpoint-up(lg) {
        .navbar {
            padding-top: 2rem;

            &-brand {
                display: none;
            }

            &-nav {
                background: $bg-navbar-nav;
                border-radius: 10rem;
            }
        }
    }

    @include media-breakpoint-down(md) {
        background: $bg-header;

        .navbar {
            padding-top: 0;
            padding-bottom: 0;
        }

        .btn {
            &-login {
                position: relative;
                background: linear-gradient(to top, #5a3b02, #93894a, #704b07, #704a09, #664204, #704a00, #a2821f, #fff094, #d1b14e, #fff094, #704a09, #e8c75c, #e8c75c);
                color: $white;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    background-image: linear-gradient(to top, #191919, #090909);
                    border-radius: 10rem;
                }

                >* {
                    position: relative;
                }
            }
        }
    }
}