// Colors
$yellow: #ffd200;
$red: #bd0c04;

$bg-btn-red: linear-gradient(to bottom, #ff0000, #450000);
$bg-btn-green: linear-gradient(to bottom, #00ff12, #037b00);
$bg-btn-play: linear-gradient(to bottom, #ae7408, #5f4622, #ad7918, #6e5126, #755725, #b28c30, #b28331, #ebcd53, #ffe57e, #e7c94d, #c09536, #b28331, #765b28, #775625, #dbbb3d, #e9e16b, #dbbb3d, #b58632, #98722d, #b28331, #b28331, #775625);
$bg-header: linear-gradient(to bottom, #3b0909, #721010);
$bg-navbar-nav: black;
$bg-features: linear-gradient(to top, #000000, #640000);
$bg-slot: #2c0000 url('../images/bg_slot_game.png') no-repeat center center/cover;
$bg-brand: #160000;
$bg-footer: linear-gradient(to bottom, #191919, #090909);
$bg-nav-bottom: #29292b;

// Fonts
$font-family-base: 'DB Helvethaica X Med';
$font-size-base: 1.125rem;
$line-height-base: 1;

// Buttons
$btn-border-width: 0;
$btn-border-radius: 10rem;
$btn-padding-x: 20px;